
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #BFD7ED;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0074B7;
}

::-webkit-scrollbar-track-piece {
  background-color:#003060;
}

.progressMainWrapper {
  background-image: linear-gradient(to left, #003060, rgb(0, 5, 10));
  height: 5px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.progressMainStyle {
  height: 5px;
  background-color: #BFD7ED;
  width: 100%;
}

.App {
  background-image: linear-gradient(to left, #003060, rgb(0, 5, 10));
  color: #BFD7ED;
  overflow: hidden;
  padding: 10px 10px 10px 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #003060;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  font-size: calc(10px + 2vmin);
	flex-wrap: wrap;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
	padding: 1.3rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: white;
	background: #003060;
}

.logo {
	color: white;
	align-self: center;
	text-decoration: none;
	font-size: 1.5rem;
}

.logo:hover {
  color: hsl(43, 100%, 51%);
}

.header-right {
	display: flex;
	align-items: center;
	margin-right: 1.2rem;
}

.fullpage-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:normal;
}

.link {
	text-decoration: none;
	color: rgb(0, 5, 10);
  cursor: pointer;
}

.link:hover {
	color: #60A3D9;
}

.about{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

h1{
  font-size: 4rem;
  font-weight: bold;
  color: white;
  margin: 10px 0;
}

h2{
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

p{
  font-size: 1.5rem;
  font-weight: normal;
}

form{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  height: inherit;
  align-items: center;
}

input , textarea{
  font-size: 1.5rem;
  font-weight: normal;
  border-radius: 15px;
  padding: 15px;
  width: 50%;
  border: 2px solid #BFD7ED;
  background-color: transparent;
  color: white;
}

button{
  width: max-content;
  font-size: 1.5rem;
  font-weight: normal;
  border-radius: 15px;
  padding: 15px;
  border: none;
  background-color: #BFD7ED;
  color: #003060;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  align-self: center;
  margin: 15px;
}

button:hover{
  background-color: #003060;
  color: #BFD7ED;
  border: none;
}

input:focus, textarea:focus{
  outline: none;
  border: 2px solid #BFD7ED;
}

textarea{
  resize:vertical;
  min-height: 100px;
  max-height: 300px;
}

.socials{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.social{
  width: 50px;
  height: 50px;
  align-items: center;
  color: #60A3D9;
}

.projects{
  display: flex;
	flex-wrap: wrap;
  overflow: hidden;
	grid-gap: 25px;
	padding: 15px;
  height: inherit;
  position: relative;
  word-wrap: break-word;
}

.project {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-decoration: none;
  color: #BFD7ED;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
  word-wrap: break-word;
  justify-content: flex-end;
  padding: 15px;
}

.project h1{
  font-weight: normal;
  font-size: 40px;
}

.project p{
  font-size: 20px; 
  margin: 0;
}


.project:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.card-title{
  padding-left: 10px;
  font-size: large;
  font-weight: bold;
}

.skills{
  padding: 35px 0;
  display: flex;
	flex-wrap: wrap;
  height: inherit;
	grid-gap: 15px;
	margin: 15px;
  width: 100%;
}
.icon{
  width: 50px;
  height: 50px;
  align-items: center;
}

.icon img {
  object-fit: contain;
  padding: 2px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#imgBackground{
  background-color: white;
}

.navBar{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 15px;
  flex-direction: column;
  margin: 10px;
  padding: 20px 15px;
  border-radius: 15px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .3);
  position:fixed;
  top:50%;
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%);
  transition:0.5s ease-in-out;
}

.navBar:hover{
  background-color: #003B73;
}

.active{
  color: #BFD7ED;
}
