.App {
  background-color: #023047;
  color: white;
  overflow: hidden;
  padding: 10px 10px 10px 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #023047;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  font-size: calc(10px + 2vmin);
	flex-wrap: wrap;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header {
	padding: 1.3rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: white;
	background: #023047;
}

.logo {
	color: white;
	align-self: center;
	text-decoration: none;
	font-size: 1.5rem;
}
.logo:hover {
  color: hsl(43, 100%, 51%);
}

.header-right {
	display: flex;
	align-items: center;
	margin-right: 1.2rem;
}

.link {
	text-decoration: none;
	color: black;
  cursor: pointer;
}
.link:hover {
	color: hsl(0, 0%, 25%);
}

.fab-container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  /* position: fixed; */
  left: 2em;
  bottom: 4em;
  max-height: 52px;
}

.projects{
  display: flex;
	flex-wrap: wrap;
  overflow: hidden;
	grid-gap: 15px;
	padding: 15px 15px 15px 15px;
}
.project {
  text-decoration: none;
  flex: 1;
  color: white;
  background-color: #ffb300;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  
}
.card-title{
  padding-left: 10px;
  font-size: large;
  font-weight: bold;
}

.card-img-top{
  width: 100%;
  height: 150px;
  object-fit: cover; 
  border-radius: 15px 15px 0 0 ;

}

.project p{
  padding-left: 10px;
  font-weight: normal;
  font-size: medium;
}
.project .link{
  size: 50px;
  padding: 10px;
}
.project:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.progressMainWrapper {
  background-color: #023047;
  height: 5px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.progressMainStyle {
  height: 5px;
  background-color: white;
  width: 100%;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;

}
::-webkit-scrollbar-thumb:hover {
  background: #61dafb;
}

::-webkit-scrollbar-track-piece {
  background: #023047;
}

.skills{
  display: flex;
	flex-wrap: wrap;
	grid-gap: 15px;
	margin: 15px 15px 15px 15px;
  width: 100%;
}
.icon{
  width: 50px;
  height: 50px;
  align-items: center;
}
.icon img {
  object-fit: contain;
  padding: 2px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
#imgBackground{
  background-color: white;
}
.navBar{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 15px;
  flex-direction: column;
  background-color: #ffb300;
  margin: 10px;
  padding: 20px 15px;
  border-radius: 15px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .3);
  position:fixed;
  top:50%;
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%);
}
.active{
  color: white;
}

